.App {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: aqua;
}
button {
  margin-top: 0.5em;
}
.font{
  /* background-color: rgb(165, 127, 255); */
}
.btn{
  height:25px;
  width: 200px;
  border: 2px solid rgb(183, 0, 255);
  border-radius:10px;
  cursor: pointer;

}


